<%- include('partials/header') %>

    <div class="text-center col-md-4 mx-auto my-4">
        <a href="/comprobantes/agregar/" class="btn btn-primary botones mt-5">Agregar comprobante</a>
        <h2 class="display-4 mt-10">Comprobantes</h2>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <table class="table table-hover">
                    <thead>
                        <tr class="border">
                            <th scope="col">Fecha</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Cuenta</th>
                            <th scope="col">Concepto</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Moneda</th>
                            <th scope="col">Monto</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% listaComprobantes.sort((a, b)=> a.fecha - b.fecha).forEach(function(comprobante) { %>
                            <tr value="<%= comprobante._id %>">
                                <td>
                                    <%= comprobante.fecha.toLocaleDateString('en-GB') %>
                                </td>
                                <td>
                                    <%= comprobante.tipo %>
                                </td>
                                <td>
                                    <%= comprobante.nombreDeCuenta %>
                                </td>
                                <td>
                                    <%= conceptoMap[comprobante.concepto.toString()] %>
                                </td>
                                <td>
                                    <%= comprobante.detalle %>
                                </td>
                                <td>
                                    <%= comprobante.moneda %>
                                </td>
                                <td>
                                    <%= comprobante.monto %>
                                </td>
                                <td>
                                    <button class="btn btn-primary rounded-circle p-2 lh-1 delComprobante"
                                        onclick="deleteComprobante('<%= comprobante._id %>')">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <% }); %>
                                <% if (listaComprobantes.length===0) { %>
                                    <tr>
                                        <td colspan="8">
                                            <h4>Aún no hay comprobantes ingresados</h4>
                                        </td>
                                    </tr>
                                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="text-center col-md-4 mx-auto my-4">
        <a class="btn btn-primary botones mt-5" href="/">Volver</a>
    </div>

    
    <script>
            function deleteComprobante(comprobanteId) {
                    fetch('/comprobantes/borrarComprobante', {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ comprobanteId })
                    })
                        .then(response => {
                            if (response.ok) {
                                location.reload();
                            } else {
                                throw new Error('Something went wrong');
                            }
                        })
                        .catch(error => {
                            console.log(error);
                        });
                    }
            </script>

        
                    <%- include('partials/footer') %>