<%- include('partials/header') %>

    <a href="/comprobantes/agregar/">Agregar comprobante</a>
    <h2>Comprobantes</h2>
    <ul>
        
        <% listaComprobantes.sort((a,b)=> a.fecha - b.fecha).forEach(function(comprobante) {
            let nombreCuenta = ""
            let monedaCuenta = ""
            listaCuentas.forEach(cuenta => {
                if(cuenta._id = comprobante.cuentaId) {
                    nombreCuenta = cuenta.nombre
                    monedaCuenta = cuenta.moneda
                }
            }) %>
            <li data-id="<%= comprobante._id %>">
                <%= nombreCuenta %>
                <%= comprobante.conceptoNombre %>
                <%= comprobante.detalle %>
                <%= monedaCuenta %>
                <%= comprobante.moneda %>
                <%= comprobante.monto%>
                            <button class="btn btn-primary rounded-circle p-2 lh-1 delComprobante"><i class="bi bi-trash"></i></button>

            </li>
            <% }); %>
            <% if (listaComprobantes.length === 0) {%>
            <h4>Aún no hay comprobantes ingresados</h4>
            <% }; %>
    </ul>


    <a href="/">Volver</a>

    <%- include('partials/footer') %>