<%- include('partials/header') %>

    <a href="/cuentas/agregar/">Agregar Cuenta</a>
    <h2>Cuentas</h2>
    <ul>
        <% listaCuentas.sort((a,b)=> a.nombre.localeCompare(b.nombre)).forEach(function(cuenta) { %>
            <li  data-id="<%= cuenta._id %>">
                <%= cuenta.nombre %>
                <%= cuenta.moneda %>
                <%= cuenta.saldo ? cuenta.saldo : 0 %>
                <button class="del">Borrar</button>
            </li>
            <% }); %>
    </ul>

    
    <a href="/">Volver</a>

<%- include('partials/footer') %>