<%- include('partials/header') %>

    <a href="/cuentas/agregar/">Agregar Cuenta</a>
    <h2>Cuentas</h2>
    <ul>
        <% listaCuentas.sort((a,b)=> a.nombre.localeCompare(b.nombre)).forEach(function(cuenta) { %>
            <li  data-id="<%= cuenta._id %>">
                <%= cuenta.nombre %>
                <%= cuenta.moneda %>
                <%= cuenta.saldo %>
                <button class="del">Borrar</button>
            </li>
            <% }); %>
    </ul>
    <% if (listaCuentas.length===0) {%>
        <h4>Aún no hay cuentas agregadas</h4>
    <% }; %>
    
    <a href="/">Volver</a>

<%- include('partials/footer') %>