<%- include('partials/header') %>

    <h1>Bienvenido <%= user.userName %></h1>
    
    <a href="/comprobantes">Ver comprobantes</a>
    <section>
        <h2>Cuentas</h2>
        <ul>
            <% listaCuentas.sort((a,b)=> a.nombre.localeCompare(b.nombre)).forEach(function(cuenta) { %>
                <li value="<%= cuenta._id %>">
                    <%= cuenta.nombre %>    <%= cuenta.moneda %>     <%= cuenta.saldo ? cuenta.saldo : 0 %>
                </li>
                <% }); %>
                
        </ul>
    </section>
    <section>
        <a href="cuentas">Modificar cuentas</a>
        <a href="conceptos">Modificar conceptos</a>

    </section>


    <a href="/logout">Cerrar Sesión</a>
   
<% // partials/footer.ejs %>