<%- include('partials/header') %>

    <h1>Comprobante</h1>

    <form action="/comprobantes/agregar" method="post">
        <label for="cuenta">Cuenta:</label>
        
        <select name="cuenta" id="cuenta" required>
            <% listaCuentas.forEach(function(cuenta) { %>
                <option value="<%= cuenta._id %>">
                    <%= cuenta.nombre %>
                </option>
                <% }); %>
        </select>
        <br>
        <label for="fecha">Fecha:</label>
        <input type="date" name="fecha" id="fecha" value="<%= new Date().toISOString().slice(0, 10) %>" required>
        <br>
        <select name="tipo" id="tipo" required>
                <option value="" disabled selected>Gasto / Ingreso</option>
                <option value="gasto"> Gasto </option>
                <option value="ingreso"> Ingreso </option>
        </select>
        <br>
        <label for="concepto">Concepto:</label>
        <select name="concepto" id="concepto" required>
            <% listaConceptos.forEach(function(concepto) { if (!tipo && concepto.tipo === tipo) { %>
                <option value="<%= concepto._id %>">
                    <%= concepto.nombre %>
                </option>
                <% } }); %>
        </select>
        <br>
        <label for="detalle">Detalle:</label>
        <input type="text" name="detalle" id="detalle" required>
        <br>
        <label for="monto">Monto:</label>
        <input type="number" name="monto" id="monto" required>
        <br>
        <button type="submit">Crear Comprobante</button>
    </form>

    <a href="/comprobantes">Volver</a>
    <script>
        const listaConceptos = JSON.parse('<%- JSON.stringify(listaConceptos) %>');
        const tipoSelect = document.getElementById("tipo");
        const conceptoSelect = document.getElementById("concepto");

        tipoSelect.addEventListener("change", () => {
            const filteredConceptos = listaConceptos.filter(
                concepto => concepto.tipo === tipoSelect.value
            );
            conceptoSelect.innerHTML = "";
            filteredConceptos.forEach(concepto => {
                const option = document.createElement("option");
                option.value = concepto._id;
                option.text = concepto.nombre;
                conceptoSelect.add(option);
            });
        });
    </script>

<% // partials/footer.ejs %>